mat-card-actions{
    text-align: right;
}
.example-full-width {
    width: 100%;
}
.btn-primary-cs{
    width: 100%;
    margin-top: 0.5rem;
}
.img-character{
    width: 30%;
    margin: 0 auto;
    display: flex;
    border-radius: 4.5rem;
}