table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  span.delete{
    color: #f44336;
  }
  .example-header-image {
    background-size: cover;
  }